.box {
    margin-inline: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-top: 1.5em;
}

.box .text {
    font-size: 1.5rem;
    color: #423f3f;
    text-align: center;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.box img {
    border-radius: 50%;
    display: block;
    margin-inline: auto;
    width: 150px;
    /* غير الحجم حسب رغبتك */
    height: 150px;
    /* غير الحجم حسب رغبتك */
    object-fit: cover;
}

ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
    z-index: 0;
    /* لجعل الشعارات تحت الصورة */
}

ul li {
    list-style: none;
}

ul li a {
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    color: #404040;
    margin: 0 30px;
    transition: 0.5s;
}

ul li a span {
    position: absolute;
    transition: transform 0.5s;
}

ul li a span:nth-child(1),
ul li a span:nth-child(3) {
    width: 100%;
    height: 3px;
    background: #404040;
}

ul li a span:nth-child(1) {
    top: 0;
    left: 0;
    transform-origin: right;
}

ul li a:hover span:nth-child(1) {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s;
}

ul li a span:nth-child(3) {
    bottom: 0;
    left: 0;
    transform-origin: left;
}

ul li a:hover span:nth-child(3) {
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

ul li a span:nth-child(2),
ul li a span:nth-child(4) {
    width: 3px;
    height: 100%;
    background: #404040;
}

ul li a span:nth-child(2) {
    top: 0;
    left: 0;
    transform: scale(0);
    transform-origin: bottom;
}

ul li a:hover span:nth-child(2) {
    transform: scale(1);
    transform-origin: top;
    transition: transform 0.5s;
}

ul li a span:nth-child(4) {
    top: 0;
    right: 0;
    transform: scale(0);
    transform-origin: top;
}

ul li a:hover span:nth-child(4) {
    transform: scale(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}

.facebook:hover {
    color: #3b5998;
    /* لون أزرق فيسبوك */
}

.facebook:hover span {
    background: #3b5998;
    /* لون الأطراف عند التحويم */
}

.github:hover {
    color: #211F1F;
    /* لون أسود غامق GitHub */
}

.github:hover span {
    background: #211F1F;
    /* لون الأطراف عند التحويم */
}

.instagram:hover {
    color: #C13584;
    /* لون وردي إنستغرام */
}

.instagram:hover span {
    background: #C13584;
    /* لون الأطراف عند التحويم */
}

.spotify:hover {
    color: #1ed760;
    /* لون أزرق  سبوتي فاي */
}

.spotify:hover span {
    background: #1ed760;
    /* لون الأطراف عند التحويم */
}

.discord:hover {
    color: #7c86ea;
    /* لون أحمر  ديسكورد */
}

.discord:hover span {
    background: #7c86ea;
    /* لون الأطراف عند التحويم */
}

.snapchat:hover {
    color: #fffc00;
    /*لون أزرق سناب */
}

.snapchat:hover span {
    background: #fffc00;
    /* لون الأطراف عند التحويم */
}

.x svg {
    fill: black;
}

.x:hover {
    color: #141413;
    /*لون أزرق سناب */
}

.x:hover span {
    background: #0e0e0d;
    /* لون الأطراف عند التحويم */
}